# Secrets and local config
.env

# Database
*.sqlite3
db.sqlite3

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Django
staticfiles/
media/
*.log

# Editors / OS
.vscode/
.idea/
.DS_Store
